<div fxLayout="column" fxLayoutGap="8px">
  <div class="results-info" *ngIf="recipesList?.total">
    <span class="recipes-total">{{ recipesList.total }}</span> recetas encontradas
  </div>
  <mat-grid-list class="recipes-list" cols="1" rowHeight="132px" gutterSize="8px">
    <a *ngFor="let recipe of recipesList?.items" [routerLink]="'/recipes/' + recipe.id">
      <mat-grid-tile
        class="recipe-tile mat-elevation-z2"
        fxFlexLayout="row"
        fxFlexLayout.xs="column"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="start center"
      >
        <img class="recipe-image" [src]="imagesApiUrl + recipe.image" [alt]="recipe.title" />
        <div class="recipe-info">
          <div class="mat-headline">{{ recipe.title }}</div>
          <div class="mat-subheading-1">
            categorias: <i>{{ recipe.categories.join(', ') }}</i>
          </div>
        </div>
      </mat-grid-tile>
    </a>
  </mat-grid-list>
</div>
<a class="add-recipe" mat-fab color="primary" aria-label="Agregar receta" routerLink="./add">
  <mat-icon>add</mat-icon>
</a>
